/* Basic resets */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Upper Buttons */
.upper_buttons {
    background-color: #2ECC71;
    padding: 15px 0;
	
}

.upper_buttons a {
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    background-color: #82E0AA; /* Light Green background */
    margin: 0 10px;
    display: inline-block;
}

.upper_buttons a:hover {
    background-color: #2ECC71; /* Darker Green background on hover */
}

/* Profile Information Section */
.informations {
    text-align: center;
    background-color: #ffffff;
    padding: 25px;
    margin: 20px auto;
    width: 80%;
    max-width: 800px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.informations img {
    border-radius: 50%;
    border: 5px solid #2ECC71;
    margin-bottom: 15px;
}

.informations p {
    font-size: 18px;
    line-height: 1.6;
}

/* Buttons */
.buttons {
    text-align: center;
    margin: 20px auto;
}

.buttons a {
    display: inline-block;
    padding: 15px 30px;
    font-size: 18px;
    background-color: #82E0AA; /* Light Green background */
    color: #ffffff; /* White text */
    border-radius: 5px;
    margin: 10px;
    text-align: center;
    text-decoration: none; /* Remove underline */
}

.buttons a:hover {
    background-color: #2ECC71; /* Darker Green background on hover */
    color: #ffffff; /* White text on hover */
}

/* Section Topics */
.topic {
    text-align: center;
    margin: 30px 0 10px 0;
}

.topic h2 {
    font-size: 24px;
    color: #2ECC71;
    border-bottom: 3px solid #2ECC71;
    display: inline-block;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

/* Table Styles */
.table-style {
    width: 100%;
    border-collapse: collapse;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 30px;
}

.table-style th, .table-style td {
    padding: 12px 15px;
    text-align: left;
}

.table-style th {
    background-color: #2ECC71;
    color: #ffffff;
}

.table-style tr:nth-child(even) {
    background-color: #f9f9f9;
}

.table-style a {
    color: white;
}
